# Auto detect text files and perform LF normalization
* text=auto
this is a tutorial for github and it is very nice tutorial and very good thank you and god bless you amen i hope this is enough description